.container{
  margin: 0 auto;
  padding: 18px 16px;
}
.header{
  position: relative;
  color: #fff;
  background: linear-gradient(113.28deg,#1A47EA 3.44%, #82E9FF 96.25%);
}
.nav{
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}
.nav__logo{
  font-size: 15px;
}
.burger{
  position: absolute;
  top: 18px;
  right: -46px;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 101;
}
.burger__active{
  position: absolute;
  justify-content: center;
  left: 16px;
  transition: all 0.3s ease;
}
.burger__active .line-1{
  position: absolute;
  transform: rotate(45deg);
}
.burger__active .line-2{
  position: absolute;
  transform: rotate(-45deg);
}
.burger__line{
  transition: all 0.4s ease;
  border-radius: 5px;
  width: 100%;
  height: 3px;
  background-color: #ffffffd6;
}
.nav__links{
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  display: flex;
  z-index: 50;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #ffffff8e;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}
.link{
  color: #ffffff;
  font-size: 17px;
}
.link:hover{
  transition: all 0.3s ease;
  text-decoration: underline;
  text-decoration-color: #FF9B05
}
.nav__links-active{
  visibility: visible;
  color: #1b1b1b;
  left: 0;
}
/*                        content                       */
.content{
  text-align: center;
  margin: 50px 0;
}
.content__title h1{
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 12px;
}
.content__subtitle{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 44px;
}
.content__line{
  margin-bottom: 14px;
  height: 4px;
  position: relative;
  width: 50%;
  left: 25%;
  border-radius: 5px;
  background: linear-gradient(120.79deg,#FFAC8B 31.33%, #FF4900 101.79%);
}
.button{
  padding: 14px 38px;
  background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  color: #fff;
}
.content__img{
  display: none;
  animation: line 3s linear infinite;
}
@keyframes line{
  0%{
    transform: translateY(15px)
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(15px);
  }
}
.wave{
  width: 100%;
  height: 100%
}
.wave img{
  width: 100%;
}

/*                       main                        */
.main{
  background: rgba(245, 249, 255, 1);
}
.main__container{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#252b31;
}
.phone{
  position: relative;
  width: 200px;
  margin-bottom: 45px;
}
.phone__data{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0
}
.phone__info{
  display: flex;
  align-items: center;
}
.phone__data i{
  margin-right: 6px;
  color: #283d43;
}
.phone__img{
  width: 100%;
}
.phone__img img{
  width: 100%;
}
.main__title{
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}
.title{
  position: relative;
}
.title:after{
  content: '';
  position: absolute;
  top: 2px;
  left: -15px;
  width: 29px;
  height: 5px;
  background-color: #FFAC8B;
  border-radius: 3px;
  transform: rotate(-45deg);
}
.title:before{
  content: '';
  position: absolute;
  bottom: 2px;
  right: -18px;
  width: 29px;
  height: 5px;
  background-color: #FFAC8B;
  border-radius: 3px;
  transform: rotate(-45deg);
}
.main__content{
  padding: 0 20px;
  text-align: center;
}
.main__item{
  text-align: left;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}
.main__item i{
  color: #f0cb35;
  margin-right: 10px;
}
.main__button{
  display: inline-block;
  margin-top: 10px;
}

/*                       reviews  */
.reviews{
    background: linear-gradient(113.28deg,#1A47EA 3.44%, #82E9FF 96.25%);
}
.reviews__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__title{
  margin-top: 40px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}
.swiper{
  text-align: center;
  width: 300px;
  min-height: 100px;
  margin-bottom: 40px;
}
.swiper-slide{
  background-color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 14px;
}
.card__image img{
  width: 100%;
}
.card__name{
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 12px;
}
.card__comment{
  font-size: 14px;
  font-weight: 500;
}
.reviews__wave{
  width: 100%;
}
.swiper-button-next,.swiper-button-prev{
  color: #fff;
}
.swiper-button-next{
  right: -20px;
}
.swiper-button-prev{
  left: -20px;
}
.swiper-button-prev:after, .swiper-button-next:after{
  z-index: 20;
}
.swiper-button-prev:before,.swiper-button-next:before{
  z-index: 15;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 3px;
  content: '';
  width: 50px;
  height: 50px;
  background: linear-gradient(180deg,#45a7e3 12.44%, #b5e6f2 88.25%);
}
.swiper-button-prev:before{
  top: 0;
  left: 0;
}
.swiper-button-next:before{
  right: 0;
  top: 0;
}


/*                             contact                         */
.contact{
    background: rgba(245, 249, 255, 1);
}
.contact__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #252b31;
}
.contact__title{
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}
.contact__subtitle{
  font-size: 14px;
  font-weight: 500;
}
.contact__image{
  display: none;
  animation: line 3s linear infinite;
}
.contact__button{
  display: inline-block;
  margin-top: 20px;
}
.contact__card{
  text-align: center;
  margin-bottom: 40px;
  padding: 24px;
  box-shadow: 5px 5px 24px rgba(0,0,0,0.2);
}

/*                                 footer                      */

.footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 18px;
}
.footer__link{
  color: #2f3537;
  font-size: 15px;
  font-weight: 600;
}